<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <filter>
        <filter-name>Registration</filter-name>
        <filter-class>nc.notus.filters.RegistrationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>InstallationEngeenier</filter-name>
        <filter-class>nc.notus.filters.InstallationEngeenierFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Registration</filter-name>
        <url-pattern>/registration.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>InstallationEngeenier</filter-name>
        <url-pattern>/installationEngineer.jsp</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>TestConnectionPoolServlet</servlet-name>
        <servlet-class>nc.notus.TestConnectionPoolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>nc.notus.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>nc.notus.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkflowTestServlet</servlet-name>
        <servlet-class>nc.notus.WorkflowTestServlet</servlet-class>
    </servlet>
  
    <servlet>
        <servlet-name>GetLocationsServlet</servlet-name>
        <servlet-class>nc.notus.maps.GetLocationsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DownloadReportServlet</servlet-name>
        <servlet-class>nc.notus.reports.DownloadReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportViewServlet</servlet-name>
        <servlet-class>nc.notus.reports.ReportViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesServlet</servlet-name>
        <servlet-class>nc.notus.maps.ServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstallationEngineerTasks</servlet-name>
        <servlet-class>nc.notus.dashboards.InstallationEngineerTasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitTask</servlet-name>
        <servlet-class>nc.notus.dashboards.SubmitTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailTestServlet</servlet-name>
        <servlet-class>nc.notus.EmailTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvisionEngineerTasksServlet</servlet-name>
        <servlet-class>nc.notus.dashboards.ProvisionEngineerTasksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupportEngineerServlet</servlet-name>
        <servlet-class>nc.notus.dashboards.SupportEngineerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateCircuit</servlet-name>
        <servlet-class>nc.notus.dashboards.CreateCircuit</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServiceCatalogServlet</servlet-name>
        <servlet-class>nc.notus.ServiceCatalogServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ChangeUserPassword</servlet-name>
        <servlet-class>nc.notus.dashboards.ChangeUserPassword</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetingUsersInfo</servlet-name>
        <servlet-class>nc.notus.dashboards.GettingUsersInfo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReportPagingServlet</servlet-name>
        <servlet-class>nc.notus.reports.ReportPagingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TasksAssignment</servlet-name>
        <servlet-class>nc.notus.dashboards.TasksAssignment</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CustomerUserServlet</servlet-name>
        <servlet-class>nc.notus.dashboards.CustomerUserServlet</servlet-class>
    </servlet>



    <servlet>
        <servlet-name>DisconnectScenarioForInstEng</servlet-name>
        <servlet-class>nc.notus.dashboards.DisconnectScenarioForInstEng</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>nc.notus.filters.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupportEngineerServlet</servlet-name>
        <url-pattern>/Support</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestConnectionPoolServlet</servlet-name>
        <url-pattern>/TestConnectionPoolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkflowTestServlet</servlet-name>
        <url-pattern>/WorkflowTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLocationsServlet</servlet-name>
        <url-pattern>/GetLocationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadReportServlet</servlet-name>
        <url-pattern>/downloadReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportViewServlet</servlet-name>
        <url-pattern>/getReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesServlet</servlet-name>
        <url-pattern>/ServicesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstallationEngineerTasks</servlet-name>
        <url-pattern>/InstallationEngineerTasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitTask</servlet-name>
        <url-pattern>/SubmitTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailTestServlet</servlet-name>
        <url-pattern>/EmailTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvisionEngineerTasksServlet</servlet-name>
        <url-pattern>/ProvisionEngineerTasksServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateCircuit</servlet-name>
        <url-pattern>/CreateCircuit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceCatalogServlet</servlet-name>
        <url-pattern>/ServiceCatalogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserPassword</servlet-name>
        <url-pattern>/ChangeUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetingUsersInfo</servlet-name>
        <url-pattern>/GetUsers</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReportPagingServlet</servlet-name>
        <url-pattern>/reportPaging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TasksAssignment</servlet-name>
        <url-pattern>/TasksAssignment</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>CustomerUserServlet</servlet-name>
        <url-pattern>/CustomerUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUserServlet</servlet-name>
        <url-pattern>/CustomerUser</url-pattern>
    </servlet-mapping>



    <servlet-mapping>
        <servlet-name>DisconnectScenarioForInstEng</servlet-name>
        <url-pattern>/DisconnectScenarioForInstEng</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/Auth</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>403</error-code>
        <location>/deniedResource.jsp</location>
    </error-page>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin Page</web-resource-name>
            <description/>
            <url-pattern>/admin.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMINISTRATOR</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Customer Dashboard</display-name>
        <web-resource-collection>
            <web-resource-name>Customer Dashboard</web-resource-name>
            <description/>
            <url-pattern>/CustomerUser</url-pattern>
            <url-pattern>/CustomerUserServlet</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Dashboard JSP Page</web-resource-name>
            <description/>
            <url-pattern>/user.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>

        <auth-constraint>
            <description/>
            <role-name>CUSTOMER_USER</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>jdbcNotusRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <role-name>ADMINISTRATOR</role-name>
    </security-role>
    <security-role>
        <role-name>SUPPORT_ENGINEER</role-name>
    </security-role>
    <security-role>
        <role-name>PROVISION_ENGINEER</role-name>
    </security-role>
    <security-role>
        <role-name>INSTALLATION_ENGINEER</role-name>
    </security-role>
    <security-role>
        <role-name>CUSTOMER_USER</role-name>
    </security-role>

</web-app>
