/* 
    Document   : main
    Created on : 12 квіт 2014, 18:58:52
    Author     : Katya Atamanchuk
    Description: css for web pages
*/
html {
    height: 100%;
} 
body {
    font: normal 13px 'Trebuchet MS', Arial, sans-serif;
    padding: 0 0 0 0;
    height: 100%;
}
hr {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    vertical-align: middle; 
}
footer {
    background-color: #E9F2FF;
    bottom: 0; 
    width: 100%;
}
#page_content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}
#pages_list {
    margin-right: auto;
    margin-left: 30px;
}
#home {
    margin-right: 40px;
    margin-left: 30px;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
#top_menu {
    -webkit-border-radius:6px 6px 0px 0px;
    background: url(logo.jpg) no-repeat #E9F2FF;
}

#pages_list li {
    display: inline-block;
    margin: 10px 75px 0px 0px;
    font-size: 20px;
}
#pages_list a {
    text-decoration: none;
    color: #000;
    list-style: none;
    margin: 0 0 29px 0px;
    padding: 0 0 5px 0;
}
#pages_list a:hover {
    color: #FFCC00;
}
.separator {
    width: 2px;
    height: 25px;
    display: inline-block;
    border-right: 1px dotted #FFCC00;
    vertical-align: middle;
    line-height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

#main-content {
    background-color:#E9F2FF;
    padding:20px 20px 20px 20px;
    min-height:500px;
}
/* Map service stuff*/
#map-canvas {
    height: 600px;
    width: 500px;
    margin: 0px;
    padding: 0px;
} 
#map-canvas, #rightblock {
    position: relative;
    left: 0;
    width: 485px;
    float: left;
    display: block;
    margin: 0 -100% 0 0;
}

#rightblock input[type="button"] {
    margin: 10px 3px 0px;
}
#rightblock {
    left: 505px;
}
#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
#map-container {
    width: 100%; 
    overflow: hidden;
}

#address {
    width:400px;
}
#addressSelect {
    margin-left: 0px;
}

/*Admin dashboard page*/
#content {
    width:100%;
    height: 300px;
    display: table;
}
#dash-left {
    width:100%;
    height: 370px;
    border: 1px double black;
}
#dash-center {
    width:100%;
    height: 370px;
    border: 1px double black;
}
#dash-right {
    width:100%;
    height: 370px;
    border: 1px double black;
}
#dash-report {
    width:100%;
    height: 370px;
    border: 1px double black;
}
#container-header {
    height:30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
ul.tabs {
    margin:0px; padding:0px;
}
ul.tabs li {
    list-style:none;
    display:inline;
}
ul.tabs li a {
    background-color: #F7FFFE;
    color:#000000;
    padding:8px 14px 8px 14px;
    text-decoration:none;
    font: normal 9px 'Trebuchet MS', Arial, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    border:1px solid #464c54;
}
ul.tabs li a:hover {
    background-color: #F7FFFE;
    border-color:#2f343a;
}
ul.tabs li a.active {
    background-color:#F7FFFE;
    color:#282e32;
    border-bottom: 1px solid #F7FFFE;
}
.content {
    background-color:#F7FFFE;
    border:1px solid #464c54;
    margin-top: 5px;
}
#dash-center, #dash-right, #dash-report {
    display:none;
}
#dash-buttons{
    float: left;
}

/*installEng*/
#IEtask {
    display:table;
    width: 100%;
}
#tasks {
    display:table-cell;
}
#newTasks {
    display:table-cell;
}
#instEngContent {
    display:none;
}
#anotherTask {
    position:absolute;
    bottom:65px;
    display:none;
}
#cableText {
    display:none;
}
#createRouter {
    display: none;
}
#somePortsAreAvailable {
    display:none;
    font:14px;
}

/*IE dashboard*/


#content{
    width:1000px;
    margin: 0 auto;
    border:appworkspace;
    background-color:#E9F2FF;;

    display:table;
}
#content-menu{
    width: 273px;
    background-color: #E9F2FF;
    display:inline-table;
    position: absolute;
}
#content-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#content-menu ul li{
    font: bold 18px 'Trebuchet MS', Arial, sans-serif;
    height: 35px;
    background: url(assets/menu-bg.png) no-repeat;
    padding-left: 10px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(220, 227, 235);
    border-bottom-style: dotted;
    border-right-width: 1px;
    border-right-color: rgb(220, 227, 235);
    border-right-style: dotted;
    color:#2F6CC7;
    text-shadow: 1px 1px 0px #fff;

}
#content-menu ul a{
    text-decoration:none;
    margin-left:10px;

}
#content-menu ul a:active{
    color:#0000ee;
}
#content-menu ul li:hover{
    font: bolder 21px 'Trebuchet MS', Arial, sans-serif;
    height: 35px;
    background: url(assets/menu-bg2.png) no-repeat;
}
#content-menu ul li:focus{
    font-size: 20px;
    font: bold 18px 'Trebuchet MS', Arial, sans-serif;
    height: 35px;
    background: url(assets/menu-bg2.png) no-repeat;
}

#contents{
    height:200px;
    width: 727px;
    display:inline-table;
    background-color: #E9F2FF;
    background: -webkit-gradient(linear, left top, left bottom, from(#E9F2FF), to(rgba(250, 248, 248, 0.38)));
    float:right;
}
#createRouter{
    display: none;
}
#createCable{
    display: none;
}
#connectCabel{
    display: none;
}
#deleteRouter{
    display: none;
}
#selectTask{
    display:block;
}

/*Table*/
#table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
#table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
#table a:active,
#table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}

#table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;
    margin: 0 auto;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
    margin-bottom: 10px;
    margin-top: 5px;
}
#table th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#D6E0F5), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
#table th:first-child {
    text-align: left;
    padding-left:20px;
}
#table tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
#table tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
#table tr {
    text-align: center;
    padding-left:20px;
}
#table td:first-child {
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
#table td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
#table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #F2F0FA,  #f6f6f6);
}
#table tr:last-child td {
    border-bottom:0;
}
#table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
#table tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
#table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
#showMenu{
    display:none;
}
a.button28 {
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: rgb(6, 5, 7);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    box-shadow:
        0 1px rgba(255,255,255,.2) inset,
        0 2px 5px rgba(0,1,6,.5),
        0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
a.button28:hover:not(:active) {
    background: linear-gradient(rgb(100,126,134), rgb(70,80,76)) rgb(126,90,134);
}
a.button28:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
        0 0 1px rgba(0,0,0,.5) inset,
        0 2px 3px rgba(0,0,0,.5) inset,
        0 1px 1px rgba(255,255,255,.1);
}

#content p{
    font-size:18px;

}

#content h2{
    text-align: center;
}
#error-body {
    background-color: #daecee;
}
#error {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -303px;
    margin-left: -303px;
}
#error404-image{
    margin: 0 auto;
}

/*Dashboards*/
#Dash-title{
    text-align: center;
}

/*Registration*/
#loginMsgTd {
    display: none;
}

#button{
    text-decoration:none;
    text-align:center;
    padding:2px 5px;
    border:solid 2px #004F72;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px;
    font:12px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#c7ffff;
    background-color:#3BA4C7;
    background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
    background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;


}
#passChange{
    padding-bottom:5px;
}
#passChange a{
    text-decoration: none;
    color: #325EBD;
    font-size: 16px;
    font-weight: bold;
}

#suppDash{

    color: #325EBD;
    font-size: 16px;
    font-weight: bold;
}

#suppDash a{

    text-decoration: none;
}

#notAvailableService img{
    margin: 0 auto;
}

#notAvailableService a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

/*Pagination*/
#pagination{
    padding: 3px;
    margin: 3px;
    text-align:center;
    color:#a0a0a0;
    font-size:80%;
}
#pagination a {
    border: 1px solid #909090;
    border-radius: 10px;
    margin-right:3px;
    padding:2px 5px;
    background-position:bottom;
    text-decoration: none;
    color: #c7ffff;
    background: #87e0fd; /* Old browsers */
    background: -moz-linear-gradient(top, #22A9D6 0%,#1F7692 40%,#2382A0 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #22A9D6 0%,#1F7692 40%,#2382A0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #22A9D6 0%,#1F7692 40%,#2382A0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #22A9D6 0%,#1F7692 40%,#2382A0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #22A9D6 0%,#1F7692 40%,#2382A0 100%); /* W3C */
}
#pagination a:hover, div.meneame a:active {
    border: 1px solid #f0f0f0;
    background-color:#464646;
    color: #ffffff;
}
#pagination span.current {
    margin-right:3px;
    padding:2px 5px;
    border: 1px solid #ffffff;
    font-weight: bold;
    background-color: #606060;
    color: #ffffff;
}
#pagination span.disabled {
    margin-right:3px;
    padding:2px 5px;
    border: 1px solid #606060;
    color: #808080;
}
#pagination_label{
    color:#c7ffff;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    background-color:#464646;
}

#installationMessage{
    font-size:16px;
    font-weight:bold;
    margin-top:5px;
    color: rgb(0, 31, 255);
}

caption{
    font-size:18px;
    font-weight:bold;
}

.dashboard_links_etc a {
    border: 4px solid #f0f0f0;
    border-radius: 10px;
    background-color: rgb(178, 189, 202);
    border-color: rgb(178, 189, 202);
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
}

.dashboard_links_etc a:hover{
    border: 4px solid #f0f0f0;
    border-radius: 10px;
    background-color: rgb(129, 143, 160);
    border-color: rgb(129, 143, 160);
    color: #2F47A7;
    font-size: 13px;
    font-weight:bold;
    text-decoration: none;
}